*{
    padding: 0;
    margin: 0;
}
body{
    background-color: lightgray;
    height:100%;
    width:100%;
}
.gameFrame{
    width: 400px;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    border: 3px solid dodgerblue;
    border-radius: 20px;
    background-color: ivory;
    position:relative;
    top:50%;
    margin-top:-262px;
}
#pid,#btn{
    font-size: large;
    font-weight: 600;
    letter-spacing: 0.05em;
}
#pid{
    text-align: center;
    color: cornflowerblue;
    font-family:"Kaiti";
    letter-spacing: 0.5em;
}
#btn{
    width: 200px;
    height: 30px;
    text-align: center;
    margin: 0 100px;
    border-radius: 10px;
    background-color: darkgrey ;
    color:ivory ;
    outline: none;
}
